.marker {
  position: absolute;
  
  font-size: 18px;
  color: white;
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  
  
  transform: rotate(60deg);
}

.marker::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  
  
}

.antiRotate {
  transform: rotate(-60deg)
}